:root {
  --grape: #391752;
  --turquoise-blue: #5decde;
  --denim: #0e6fb4;
}

::selection {
  background-color: var(--turquoise-blue);
  color: var(--grape);

}

.topnav {
  overflow: hidden;
  background-color: var(--grape);
  position: fixed;
  top: 0;
  width: 100%;
  
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: var(--denim);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}





.para {
  background-color: white;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;

}

#paragraph {
  background-color: white;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  outline: 2px solid black;

}






.footer {
  background-color: var(--grape);
  height: 17vh;
  position: relative;
  margin-top: 200px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  
}

.footer a {
  text-decoration: none;
  padding: 14px 16px;

}



.container {
  border: 5px solid var(--turquoise-blue);


}

.main {
  position: relative;
  z-index: 1;
  text-align: center;

  padding: 50px 0 600px;

  -webkit-box-shadow: 0 3px 5px #222;
  -moz-box-shadow: 0 3px 5px #222;
  box-shadow: 0 3px 5px #222;
}

h1, h2, h3, h4, h5 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 700;
  font-size: 130%;
  text-align: center;

}

body {

  color: white;
  text-shadow: 2px 2px 4px #000000;

  
  font-size: 130%;
  background: -webkit-linear-gradient(to right, #2c3e50, #4ca1af);
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  position: relative;
  z-index: 0;

}

.grid-container {


  height: 700px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: transparent;
  padding: 20px;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;


}

.grid-container>div {

  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 1.4rem;
  align-items: center;
  border-radius: 15px;
  text-shadow: 2px 2px 5px black;

}

.item1 {
  grid-column: 1 / span 3;
  background-image: url(images/weatherbanner.png);
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  text-shadow: 2px 2px 5px black;
  color: white;
  /* opacity: 0.7; */
  cursor: pointer;

}

.item2 {
  background-image: url(images/city.png);
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  text-shadow: 2px 2px 5px black;
  color: white;
  /* opacity: 0.7; */
  cursor: pointer;
}

.item3 {
  background-image: url(images/circle.jpg);
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  color: white;
  text-shadow: 1px 1px 4px grey;
  /* opacity: 0.7; */
  cursor: pointer;


}


.item4 {
  background-image: url(images/generate.png);
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  text-shadow: 2px 2px 5px grey;
  color: white;
  /* opacity: 0.7; */
  cursor: pointer;
  font-size: 1rem;

}


.button,
.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover {
  box-shadow: inset 0px 0px 16px var(--grape), 0 0 30px var(--grape);

}

.spaces {
  margin-top: 200px;
  margin-bottom: 200px;
}

.wrapper {
  display: flex;
  padding: 25px;
  margin-top: 400px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 400px;
  border: 5px;
  background-color: white;
  left: 200px;
  right: 200px;
  outline: 2px solid black;
  border-radius: 15px;
  text-align: center;




}








@media screen and (max-width: 600px) {

  .grid-container {

    display: block;


  }

  .grid-container div {
    height: 15vh;


  }

  .item1,
  .item2,
  .item3,
  .item4 {
    margin-bottom: 15px;
  }



  header {
    width: 100%;
  }

  .para {

    display: flex;
    justify-content: space-between;

  }

  #paragraph {
    display: flex;
    justify-content: space-between;

  }

  .footer a {
    display: inline-block;
  }



}